.colleges-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 31.25rem;
  .colleges-text {
    color: #c63637;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 64px;
    margin: 1rem;
  }
  .college-logos {
    display: flex;
    flex-flow: row wrap;
    margin: 2rem auto;
    justify-content: center;
    align-items: center;
    .college-logo {
      margin: 1rem 4rem;
      height: 245px;
      width: 180px;
    }
  }
}

@media (max-width: 576px) {
  .colleges-container {
    .colleges-text {
      font-size: 48px;
    }
  }
}
