.embroider-container {
  background-color: #96b4ff;
  display: flex;
  flex-flow: row wrap;
  min-height: 37.5rem;
  .left-side {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    .left-text {
      color: #f0f0f0;
      font: italic bold 24px "Rubik";
      font-size: 2rem;
      margin: 2rem 0;
      text-align: center;
    }
    .img-machine {
      width: 100%;
    }
  }
}

@media (max-width: 992px) {
  .embroider-container {
    flex-flow: column nowrap;
    height: auto;
    .left-side {
      width: 100%;
      .left-text {
        width: 80%;
      }
      .img-machine {
        width: 70%;
      }
    }
  }
}

@media (max-width: 992px) {
    .embroider-container {
      .left-side {
        width: 100%;
        .left-text {
          width: 80%;
        }
        .img-machine {
          width: 90%;
        }
      }
    }
  }